body {
    font-family: 'Indie Flower';
    background-color: antiquewhite;
}

header {
    background-color: #BBD2EC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: #BBD2EC;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

article {
    margin: 50px;
}

