body {
    font-family: poppins;
}


.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

header {
    margin: 0;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: beige;
}

